 .wallpaper {
    /* position: relative; */
    width: 100vw;
    height: 100vh;
    cursor: pointer;
    background-image: url("/src/assets/image1.png");
    /* background-image: url("src/Public/avater.png"); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: Arial, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .time-display {
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .datetime {
    margin-bottom: 7rem;
    font-size: 2rem;
    font-weight: bold;
  }
  
 
  
   

   /* .wallpaperContainer {
    width: 100vw;
    height: 100vh;
    background-image: url("/");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .dateTimeContainer {
    text-align: center;
  }
  
  .date {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  
  .time {
    font-size: 3rem;
    font-weight: bold;
  }
  
  .profilePicContainer {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  
  .profilePic {
    border-radius: 50%;
    border: 2px solid white;
  }
  
   */